<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/questions">{{ title }}</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/questions">Questions</a>
      </li>
      <li *ngIf="isStaff" routerLinkActive="active">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li *ngIf="!isAuthenticated" routerLinkActive="active">
        <a routerLink="/sign-in">Sign in</a>
      </li>
      <li *ngIf="!isAuthenticated" routerLinkActive="active">
        <a routerLink="/sign-up">Sign up</a>
      </li>
      <li *ngIf="isAuthenticated" routerLinkActive="active">
        <a routerLink="/sign-out">Sign out</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
